.slider-box {
    background-color: rgba(18, 0, 0, 0.95);
    border: 1px solid #3a0000;
    border-radius: 10px;
    padding: 0 12px;
}

.slider-icon {
    color: #ff0033;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
}

scale {
    color: #ff0033;
}

scale trough {
    background-color: #3a0000;
    border-radius: 5px;
    min-height: 4px;
    min-width: 150px;
}

scale highlight {
    background-color: #ff0033;
    border-radius: 5px;
}

scale slider {
    background-color: #ff0033;
    border-radius: 50%;
    min-width: 14px;
    min-height: 14px;
}
